.footer {
	background: #303030;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 200px 0 200px 20px;
		color: #fff;
		& a {
			color: #fff;
			text-decoration: none;
		}
		& h3 {
			font-family: Montserrat;
			font-size: 25px;
			line-height: 70px;
			font-weight: bold;
			text-transform: uppercase;
		}
		& li, p {
			font-family: Montserrat;
			font-size: 23px;
			line-height: 30px;
			padding: 7px 0;
			opacity: 0.7;
		}
	}
	&__social {
		flex: 1 1 45%;
		padding: 0 150px 0 0;
		margin: 0 0 100px 0;
	}
	&__info {
		flex: 1 1 55%;
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
	}
	&__icons {
		padding: 30px 0;
		& img {
			margin: 0 10px 0 0;
			&:hover {
			opacity: 0.8;
			}
		}
	}
	&__item {
		margin: 10px 5px;
	}
}


@media(max-width:1100px) {
	.footer {
		&__social {
			padding: 0 50px 0 0;
		}
	}
}

@media(max-width:800px) {
	.footer {
		&__wrapper {
			flex-direction: column;
			padding: 150px 10px;
		}
		&__social {
		flex: 1 1 100%;
		padding: 0;
		}
		&__info {
		flex: 1 1 auto;
		padding: 0;
		}
	}
}

@media(max-width:680px) {
	.footer {
		&__wrapper {
			padding: 100px 20px;
		}
	}
}

@media(max-width:450px) {
	.footer {
		&__info {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}