@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: Montserrat;
  font-size: 12px;
  color: #333333; }

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .ibg img {
    display: none; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.header {
  position: relative;
  display: flex;
  justify-content: center; }
  .header__container {
    position: absolute;
    z-index: 10; }
  .header__menu {
    display: flex;
    align-items: center;
    padding: 40px 10px;
    justify-content: space-between; }

.menu__logo {
  flex: 1 1 25%;
  margin: -10px 300px 0 0; }
.menu__body {
  flex: 1 1 auto; }
  .menu__body.active {
    padding: 50px 0 0 0;
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: auto;
    top: 0;
    transition: all 0.3s ease 0s;
    background-color: #303030; }
    .menu__body.active .menu__link {
      color: #fff;
      font-size: 60px;
      line-height: 60px;
      color: #ffc200;
      font-family: Grand Hotel; }
      .menu__body.active .menu__link:hover {
        color: #ffdc69; }
    .menu__body.active .menu__item {
      padding: 30px; }
    .menu__body.active .menu__list {
      display: flex;
      flex-direction: column;
      align-items: center; }
.menu__list {
  display: flex; }
.menu__item:not(:last-child) {
  margin: 0 50px 0 0; }
.menu__link {
  font-family: Monserrat;
  font-weight: 400;
  font-size: 25px;
  color: #fff; }
.menu__search {
  flex: 1 1 40px;
  margin: 0 0 0 150px; }
  .menu__search.active .search__form {
    display: block; }
  .menu__search img {
    cursor: pointer; }
    .menu__search img:hover {
      opacity: 0.5; }
.menu__burger {
  margin: 6px 0; }
  .menu__burger.active:after {
    transform: rotate(-45deg);
    background-color: #fff;
    bottom: 9px; }
  .menu__burger.active:before {
    transform: rotate(45deg);
    background-color: #fff;
    top: 9px; }
  .menu__burger.active span {
    transform: scale(0); }

.search__form {
  display: none;
  position: absolute;
  top: 100px;
  right: 5%; }

body.lock {
  overflow: hidden; }

@media (max-width: 1300px) {
  .menu__logo {
    margin: 0 200px 0 0; }
  .menu__search {
    margin: 0 0 0 50px; } }
@media (max-width: 1100px) {
  .menu__logo {
    margin: 0 70px 0 0; }
  .menu__search {
    margin: 0 0 0 50px; }
  .menu__item:not(:last-child) {
    margin: 0 25px 0 0; } }
@media (max-width: 800px) {
  .menu__body {
    display: none; }

  .menu__burger {
    width: 30px;
    height: 20px;
    position: relative; }
    .menu__burger:before, .menu__burger:after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute; }
    .menu__burger:before {
      top: 0; }
    .menu__burger:after {
      bottom: 0; }
    .menu__burger span {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px; }

  .menu__logo {
    margin: 0 300px 0 0; }
  .menu__search {
    margin: 0 100px 0 0px; } }
@media (max-width: 680px) {
  .menu__logo {
    margin: 0 100px 0 0; }
  .menu__search {
    margin: 0 80px 0 0px; } }
@media (max-width: 450px) {
  .menu__logo {
    flex: 0 1 40px;
    overflow: hidden;
    margin: 0 90px 0 0; }
  .menu__search {
    margin: 0 -50px 0 0; } }
.footer {
  background: #303030; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 200px 0 200px 20px;
    color: #fff; }
    .footer__wrapper a {
      color: #fff;
      text-decoration: none; }
    .footer__wrapper h3 {
      font-family: Montserrat;
      font-size: 25px;
      line-height: 70px;
      font-weight: bold;
      text-transform: uppercase; }
    .footer__wrapper li, .footer__wrapper p {
      font-family: Montserrat;
      font-size: 23px;
      line-height: 30px;
      padding: 7px 0;
      opacity: 0.7; }
  .footer__social {
    flex: 1 1 45%;
    padding: 0 150px 0 0;
    margin: 0 0 100px 0; }
  .footer__info {
    flex: 1 1 55%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; }
  .footer__icons {
    padding: 30px 0; }
    .footer__icons img {
      margin: 0 10px 0 0; }
      .footer__icons img:hover {
        opacity: 0.8; }
  .footer__item {
    margin: 10px 5px; }

@media (max-width: 1100px) {
  .footer__social {
    padding: 0 50px 0 0; } }
@media (max-width: 800px) {
  .footer__wrapper {
    flex-direction: column;
    padding: 150px 10px; }
  .footer__social {
    flex: 1 1 100%;
    padding: 0; }
  .footer__info {
    flex: 1 1 auto;
    padding: 0; } }
@media (max-width: 680px) {
  .footer__wrapper {
    padding: 100px 20px; } }
@media (max-width: 450px) {
  .footer__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; } }
.wrapper {
  overflow: hidden;
  min-height: 100%; }

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto; }

.page {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; }

a:hover {
  opacity: 0.5; }

.first {
  width: 100%;
  height: 780px;
  background: #303030; }
  .first__bg1 {
    position: absolute;
    width: 40%;
    height: 780px;
    top: 0;
    left: 0; }
  .first__bg2 {
    position: absolute;
    width: 40%;
    height: 780px;
    top: 0;
    right: 31%; }
  .first__container {
    position: relative;
    z-index: 5;
    margin: 100px auto; }
  .first__wrapper {
    height: 650px;
    width: 60%;
    margin: auto 45%;
    position: relative;
    padding: 10px; }
  .first__info {
    position: relative;
    margin: 13% 20px;
    z-index: 10; }

.info {
  display: flex;
  flex-direction: column; }
  .info__title {
    font-family: Grand Hotel;
    font-size: 100px;
    color: #ffc200;
    text-align: left; }
  .info__text {
    font-family: Montserrat;
    font-size: 25px;
    color: #fff;
    text-align: left;
    padding: 20px 10px 40px 10px;
    line-height: 40px; }
  .info__btn {
    font-family: Montserrat;
    font-size: 25px;
    color: #333333;
    margin: 0 10px;
    text-align: center;
    background-color: #ffc200;
    width: 250px;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px; }
    .info__btn:hover {
      background-color: #ffdc69; }
  .info-big .info__title {
    font-size: 124px; }
  .info-big .info__text {
    font-size: 29px; }
  .info-big .info__btn {
    font-size: 19px; }

.icons__icon1 {
  position: absolute;
  top: 0px;
  left: -30px; }
  .icons__icon1:hover {
    opacity: 0.8; }
.icons__icon2 {
  position: absolute;
  top: 15px;
  right: 180px; }
  .icons__icon2:hover {
    opacity: 0.8; }
.icons__icon3 {
  position: absolute;
  top: 180px;
  right: 100px; }
  .icons__icon3:hover {
    opacity: 0.8; }
.icons__icon4 {
  position: absolute;
  bottom: 150px;
  right: 40px; }
  .icons__icon4:hover {
    opacity: 0.8; }
.icons__icon5 {
  position: absolute;
  bottom: 0px;
  right: 160px; }
  .icons__icon5:hover {
    opacity: 0.8; }
.icons__icon6 {
  position: absolute;
  bottom: 40px;
  right: 340px; }
  .icons__icon6:hover {
    opacity: 0.8; }
.icons__icon7 {
  position: absolute;
  bottom: 10px;
  left: 140px; }
  .icons__icon7:hover {
    opacity: 0.8; }
.icons__icon8 {
  position: absolute;
  bottom: 80px;
  left: -20px; }
  .icons__icon8:hover {
    opacity: 0.8; }
.icons__icon9 {
  position: absolute;
  top: 190px;
  left: -130px; }
  .icons__icon9:hover {
    opacity: 0.8; }

.bestseller__textblock {
  max-width: 880px;
  padding: 150px 10px 60px; }
.bestseller__cards {
  margin: 10px 10px 220px; }

.textblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: center; }
  .textblock__title {
    font-family: Grand Hotel;
    font-size: 75px;
    line-height: 90px;
    margin: 0 0 20px 0;
    color: #333333; }
    .textblock__title-color {
      color: #ffc200; }
    .textblock__title-big {
      font-size: 100px; }
  .textblock__text {
    font-family: Montserrat;
    font-size: 25px;
    color: #333333;
    margin: 10px;
    line-height: 30px; }
    .textblock__text-color {
      color: #fff; }
    .textblock__text-big {
      font-size: 45px;
      line-height: 60px;
      padding: 20px 0; }
    .textblock__text-med {
      font-size: 29px; }

.cards {
  display: flex;
  justify-content: space-evenly; }
  .cards__item {
    width: 280px;
    margin: 10px;
    text-align: center; }
    .cards__item h3 {
      font-family: Grand Hotel;
      font-size: 41px;
      color: #333333;
      line-height: 50px;
      margin: 10px; }
    .cards__item p {
      font-family: Montserrat;
      font-size: 17px;
      color: #333333;
      line-height: 19px;
      margin: 10px; }

.oriental {
  position: relative; }
  .oriental__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top; }
  .oriental__container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    margin: 150px auto;
    padding: 0 30px; }
  .oriental__pic {
    flex: 1 1 40%; }
    .oriental__pic img {
      width: 100%; }
  .oriental__info {
    flex: 1 1 60%;
    padding: 0 0 0 100px; }

.statistics {
  width: 100%;
  height: 700px;
  background: #303030;
  margin: -30px 0; }
  .statistics__wrapper {
    position: relative; }
  .statistics__textblock {
    max-width: 880px;
    padding: 20px 10px 60px; }
  .statistics__data {
    display: flex;
    justify-content: space-evenly;
    padding: 50px; }
  .statistics__item {
    height: 210px;
    width: 210px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    text-transform: uppercase;
    padding: 45px 0; }
    .statistics__item span {
      color: #ffc200;
      font-size: 50px;
      line-height: 70px; }
    .statistics__item p {
      font-size: 29px; }

.icons__icon1-p {
  top: -20px;
  left: 300px; }
.icons__icon2-p {
  top: -20px;
  right: 230px; }
.icons__icon3-p {
  top: 180px;
  right: 70px; }
.icons__icon4-p {
  bottom: 80px;
  right: 0px; }
.icons__icon5-p {
  bottom: -50px;
  right: 100px; }
.icons__icon6-p {
  bottom: -70px;
  right: 370px; }
.icons__icon7-p {
  bottom: -50px;
  left: 300px;
  transform: rotate(70deg); }
.icons__icon8-p {
  bottom: -70px;
  left: 50px; }
.icons__icon9-p {
  top: 100px;
  left: 10px; }

.grill {
  position: relative; }
  .grill__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: bottom; }
  .grill__container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    margin: 150px auto;
    padding: 0 30px; }
  .grill__pic {
    order: 2;
    flex: 1 1 40%; }
    .grill__pic img {
      width: 100%; }
  .grill__info {
    order: 1;
    flex: 1 1 60%;
    padding: 0 0 0 100px; }

.lenora {
  padding: 100px 0 0 0; }
  .lenora__wrapper {
    position: relative;
    background: #ffca24; }
  .lenora__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  .lenora__textblock {
    padding: 200px; }
    .lenora__textblock .textblock__title {
      order: 2; }
    .lenora__textblock .textblock__text {
      order: 1; }

.subscribe {
  width: 100%;
  background: #f4f4f4;
  margin: -10px 0 0 0; }
  .subscribe__container {
    padding: 50px 0 100px; }
  .subscribe__wrapper {
    position: relative; }
  .subscribe__textblock {
    max-width: 850px;
    padding: 120px 10px 60px; }
  .subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 200px 0;
    margin: 10px; }

.form__input {
  font-family: Montserrat;
  font-size: 21px;
  color: #333333;
  background-color: #fff;
  width: 520px;
  padding: 18px 20px;
  border-radius: 5px 0 0 5px; }
.form__btn {
  margin: 0;
  border-radius: 0 5px 5px 0; }

@media (max-width: 1100px) {
  .first__wrapper {
    margin: auto 35%; }

  .icons__icon2, .icons__icon3, .icons__icon6 {
    display: none; }

  .info__title {
    font-size: 100px; }
  .info__text {
    font-size: 25px; }
  .info__btn {
    font-size: 17px; }

  .bestseller__cards {
    margin: 10px 10px 150px; }
  .bestseller__textblock {
    padding: 120px 10px 60px; }

  .oriental__info, .grill__info {
    padding: 0 0 0 50px; }

  .statistics__item {
    height: 150px;
    width: 150px;
    padding: 35px 0; }
    .statistics__item span {
      font-size: 30px;
      line-height: 50px; }
    .statistics__item p {
      font-size: 19px; }

  .lenora__textblock {
    padding: 100px; }

  .form__input {
    display: block;
    font-size: 18px; }

  .subscribe__container {
    padding: 10px 0 50px; } }
@media (max-width: 800px) {
  .icons__icon5 {
    display: none; }

  .first__bg1 {
    width: 15%; }
  .first__wrapper {
    width: 100%;
    margin: auto 10%; }

  .bestseller__textblock {
    padding: 70px 10px 30px; }
  .bestseller__cards {
    margin: 10px 10px 70px; }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .cards__item {
      width: auto; }

  .oriental__container, .grill__container {
    flex-direction: column;
    justify-content: center; }
  .oriental__pic, .grill__pic {
    margin: 30px;
    order: 2; }
  .oriental__info, .grill__info {
    order: 1;
    padding: 0 15px; }

  .oriental__container {
    margin: 260px auto 80px; }

  .grill__container {
    margin: 120px auto 120px; }

  .statistics {
    height: auto; }
    .statistics__icons {
      display: none; }
    .statistics__data {
      flex-direction: column;
      padding: 0px; }
    .statistics__item {
      padding: 15px 0;
      height: auto;
      width: auto;
      border: 0; }
    .statistics__textblock {
      padding: 20px 10px 10px; }

  .lenora {
    padding: 50px 0 0 0; }
    .lenora__textblock {
      padding: 50px; }

  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }
@media (max-width: 680px) {
  .first__wrapper {
    width: 100%;
    margin: auto 20px; }
  .first__bg1 {
    width: 10%; }

  .textblock__text-big {
    font-size: 40px;
    line-height: 55px;
    padding: 20px 0; }

  .lenora {
    padding: 15px 0 0 0; }
    .lenora__container {
      padding: 30px 0 0 0; }

  .form__input {
    width: 420px; }

  .subscribe__textblock {
    padding: 40px 10px 30px; }
  .subscribe__form {
    padding: 0 0 60px 0; } }
@media (max-width: 450px) {
  .first {
    height: auto; }

  .icons {
    display: none; }

  .info__btn {
    width: auto; }
  .info__title {
    font-size: 70px; }
  .info__text {
    font-size: 20px; }
  .info-big .info__title {
    font-size: 100px; }
  .info-big .info__text {
    font-size: 25px; }
  .info-big .info__btn {
    font-size: 17px; }

  .form__input {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
