//<ШРИФТЫ>====================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
//</ШРИФТЫ>===================================================

//<ПЕРЕМЕННЫЕ>================================================
//</ПЕРЕМЕННЫЕ>===============================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================
@import "nullstyle.scss";

body {
	font-family: Montserrat;
	font-size: 12px;
	color: #333333;
}

@import "ibg.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=============
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============

//<ОБОЛОЧКА>==================================================
.wrapper{
overflow: hidden;
min-height: 100%;
}
//</ОБОЛОЧКА>=================================================

//<ОСНОВНАЯ СЕТКА>============================================
.container { 
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

.page {
	display: flex;
	position: relative;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  display: flex;
	  flex-direction: column;
}

a:hover {
	opacity: 0.5;
}

//<ОСНОВНОЙ БЛОК>=============================================
//<first>--------------------------------
.first {
	width: 100%;
	height: 780px;
	background: #303030;
	&__bg1 {
	 position: absolute;
    width: 40%;
    height: 780px;
    top: 0;
    left: 0;
  	}
	&__bg2 {
	 position: absolute;
    width: 40%;
    height: 780px;
    top: 0;
    right: 31%;
	}
	&__container {
		position: relative;
		z-index: 5;
		margin: 100px auto;
	}
	&__wrapper {
		height: 650px;
		width: 60%;
		margin: auto 45%;
		position: relative;
		padding: 10px;
	}
	&__info {
		position: relative;
		margin: 13% 20px;
		z-index: 10;
	}
}

.info {
	display: flex;
	flex-direction: column;
	&__title {
		font-family: Grand Hotel;
		font-size: 100px;
		color: #ffc200;
		text-align: left;
	}
	&__text {
		font-family: Montserrat;
		font-size: 25px;
		color: #fff;
		text-align: left;
		padding: 20px 10px 40px 10px;
		line-height: 40px;
	}
	&__btn {
		font-family: Montserrat;
		font-size: 25px;
		color: #333333;
		margin: 0 10px;
		text-align: center;
		background-color: #ffc200;
		width: 250px;
		padding: 15px 20px;
		text-transform: uppercase;
		font-weight: bold;
		border-radius: 5px;
		&:hover {
       	background-color: #ffdc69;
      }
	}
	&-big {
		.info {
			&__title {
				font-size: 124px;
			}
			&__text {
				font-size: 29px;
			}
			&__btn {
				font-size: 19px;
			}
		}
	}
}

.icons {
	&__icon1 {
		position: absolute;
		top: 0px;
		left: -30px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon2 {
		position: absolute;
		top: 15px;
		right: 180px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon3 {
		position: absolute;
		top: 180px;
		right: 100px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon4 {
		position: absolute;
		bottom: 150px;
		right: 40px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon5 {
		position: absolute;
		bottom: 0px;
		right: 160px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon6 {
		position: absolute;
		bottom: 40px;
		right: 340px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon7 {
		position: absolute;
		bottom: 10px;
		left: 140px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon8 {
		position: absolute;
		bottom: 80px;
		left: -20px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__icon9 {
		position: absolute;
		top: 190px;
		left: -130px;
		&:hover {
			opacity: 0.8;
		}
	}
}
//</first>----------------------------------------------

//<bestseller>------------------------------------------------
.bestseller {
	&__textblock {
		max-width: 880px;
		padding: 150px 10px 60px;
	}
	&__cards {
		margin: 10px 10px 220px;
	}
}

.textblock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	text-align: center;
	&__title {
		font-family: Grand Hotel;
		font-size: 75px;
		line-height: 90px;
		margin: 0 0 20px 0;
		color: #333333;
		&-color {
			color: #ffc200;
		}
		&-big {
			font-size: 100px;
		}
	}
	&__text {
		font-family: Montserrat;
		font-size: 25px;
		color: #333333;
		margin: 10px;
		line-height: 30px;
		&-color {
			color: #fff;
		}
		&-big {
			font-size: 45px;
			line-height: 60px;
			padding: 20px 0;
		}
		&-med {
			font-size: 29px;
		}
	}
}

.cards {
	display: flex;
	justify-content: space-evenly;
	&__item {
		width: 280px;
		margin: 10px;
		text-align: center;
		& h3 {
			font-family: Grand Hotel;
			font-size: 41px;
			color: #333333;
			line-height: 50px;
			margin: 10px;
		}
		& p {
			font-family: Montserrat;
			font-size: 17px;
			color: #333333;
			line-height: 19px;
			margin: 10px;
		}
	}
}
//</bestseller>-----------------------------------------------

//<oriental>-------------------------------------------------
.oriental {
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: top;
	}
	&__container {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		margin: 150px auto;
		padding: 0 30px;

	}
	&__pic {
		flex: 1 1 40%;
		& img {
			width: 100%;
		}
	}
	&__info {
		flex: 1 1 60%;
		padding: 0 0 0 100px;
	}
}
//</oriental>------------------------------------------------

//<statistics>------------------------------------------------
.statistics {
	width: 100%;
	height: 700px;
	background: #303030;
	margin: -30px 0;
	&__container {
	}
	&__wrapper {
		position: relative;
	}
	&__textblock {
		max-width: 880px;
		padding: 20px 10px 60px;
	}
	&__data {
		display: flex;
		justify-content: space-evenly;
		padding: 50px;
	}
	&__item {
		height: 210px;
		width: 210px;
		border: 3px solid #fff;
		border-radius: 50%;
		color: #fff;
		font-family: Montserrat;
		text-align: center;
		text-transform: uppercase;
		padding: 45px 0;
		& span {
			color: #ffc200;
			font-size: 50px;
			line-height: 70px;
		}
		& p {
			font-size: 29px;
		}
	}
}

.icons {
		&__icon1-p {
		top: -20px;
		left: 300px;
		}

		&__icon2-p {
			top: -20px;
			right: 230px;
		}
		&__icon3-p {
			top: 180px;
			right: 70px;
		}
		&__icon4-p {
			bottom: 80px;
			right: 0px;
		}
		&__icon5-p {
			bottom: -50px;
			right: 100px;
		}
		&__icon6-p {
			bottom: -70px;
			right: 370px;
		}
		&__icon7-p {
			bottom: -50px;
			left: 300px;
			transform: rotate(70deg);
		}
		&__icon8-p {
			bottom: -70px;
			left: 50px;
		}
		&__icon9-p {
			top: 100px;
			left: 10px;
		}
}
//</statistics>------------------------------------------------

//<grill>------------------------------------------------
.grill {
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: bottom;
	}
	&__container {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		margin: 150px auto;
		padding: 0 30px;

	}
	&__pic {
		order: 2;
		flex: 1 1 40%;
		& img {
			width: 100%;
		}
	}
	&__info {
		order: 1;
		flex: 1 1 60%;
		padding: 0 0 0 100px;
	}
}
//</grill>------------------------------------------------

//<lenora>--------------------------------------------------
.lenora {
	padding: 100px 0 0 0;
	&__wrapper {
		position: relative;
		background: rgba(255,202,36,1);
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.1;
	}
	&__textblock {
		padding: 200px;
			.textblock{
			&__title {
				order: 2;
			}
			&__text {
				order: 1;
			}
		}
	}
}
//</lenora>--------------------------------------------------

//<subscribe>------------------------------------------------
.subscribe {
	width: 100%;
	background:#f4f4f4;
	margin: -10px 0 0 0;
	&__container {
		padding: 50px 0 100px;
	}
	&__wrapper {
		position: relative;

	}
	&__textblock {
		max-width: 850px;
		padding: 120px 10px 60px;
	}
	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 0 200px 0;
		margin: 10px;
	}
}

.form {
	&__input {
		font-family: Montserrat;
		font-size: 21px;
		color: #333333;
		background-color: #fff;
		width: 520px;
		padding: 18px 20px;
		border-radius: 5px 0 0 5px;
	}
	&__btn {
		margin: 0;
		border-radius: 0 5px 5px 0;
	}
}
//</subscribe>------------------------------------------------


//<MEDIA>====================================================
@media(max-width:1100px) {
	.first {
		&__wrapper {
		margin: auto 35%;
		}
	}
	.icons {
		&__icon2, &__icon3, &__icon6 {
		display: none;
		}
	}
	.info {
		&__title {
			font-size: 100px;
		}
		&__text {
			font-size: 25px;
		}
		&__btn {
			font-size: 17px;
		}
	}
	.bestseller {
		&__cards {
			margin: 10px 10px 150px;
		}
		&__textblock {
			padding: 120px 10px 60px;
		}
	}
	.oriental, .grill {
		&__info {
			padding: 0 0 0 50px;
		}
	}
	.statistics {
		&__item {
			height: 150px;
			width: 150px;
			padding: 35px 0;
			& span {
				font-size: 30px;
				line-height: 50px;
			}
			& p {
				font-size: 19px;
			}
		}
	}
	.lenora {
		&__textblock {
			padding: 100px;
		}
	}
	.form {
		&__input {
			display: block;
			font-size: 18px;
		}
	}
	.subscribe {
		&__container {
		padding: 10px 0 50px;
		}
	}
}

@media(max-width:800px) {
	.icons {
		&__icon5 {
			display: none;
		}
	}
	.first {
		&__bg1 {
	    width: 15%;
	  	}
		&__wrapper {
		width: 100%;
		margin: auto 10%;
		}
	}
	.bestseller {
		&__textblock {
			padding: 70px 10px 30px;
		}
		&__cards {
			margin: 10px 10px 70px;
		}
	}
	.cards {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__item {
		width: auto;
		}
	}
	.oriental, .grill {
		&__container {
			flex-direction: column;
			justify-content: center;
		}
		&__pic {
			margin: 30px;
			order: 2;
		}
		&__info {
			order: 1;
			padding: 0 15px;
		}
	}
	.oriental {
		&__container {
			margin: 260px auto 80px;
		}
	}
	.grill {
		&__container {
			margin: 120px auto 120px;
		}
	}
	.statistics {
		height: auto;
		&__icons {
			display: none;
		}
		&__data {
			flex-direction: column;
			padding: 0px;
		}
		&__item {
			padding: 15px 0;
			height: auto;
			width: auto;
			border: 0;
		}
		&__textblock {
			padding: 20px 10px 10px;
		}
	}
	.lenora {
		padding: 50px 0 0 0;
		&__textblock {
			padding: 50px;
		}
	}
	.subscribe {
		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

@media(max-width:680px) {
	.first {
		&__wrapper {
		width: 100%;
		margin: auto 20px;
		}
		&__bg1 {
 		width: 10%;
 		}
	}
	.textblock__text-big {
		font-size: 40px;
		line-height: 55px;
		padding: 20px 0;
	}
	.lenora {
		padding: 15px 0 0 0;
		&__container {
			padding: 30px 0 0 0;
		}
	}
	.form {
		&__input {
			width: 420px;
		}
	}
	.subscribe {
		&__textblock {
			padding: 40px 10px 30px;
		}
		&__form {
			padding: 0 0 60px 0;
		}
	}
}


@media(max-width:450px) {
	.first {
		height: auto;
	}
	.icons {
		display: none;
	}
	.info {
		&__btn {
		width: auto;
		}
		&__title {
			font-size: 70px;
		}
		&__text {
			font-size: 20px;
		}
		&-big {
			.info {
				&__title {
					font-size: 100px;
				}
				&__text {
					font-size: 25px;
				}
				&__btn {
					font-size: 17px;
				}
			}
		}
	}
	.form {
		&__input {
			width: 100%;
		}
	}
}




//</MEDIA>====================================================


//</ОСНОВНОЙ БЛОК>============================================

//</ОСНОВНАЯ СЕТКА>===========================================